<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275598721332-vajopv8arnibcbvb0slgaln9j73u3bua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275598721332-vajopv8arnibcbvb0slgaln9j73u3bua</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ6pKAQLjTiNkBwcG7UqTAZbzR43ivGqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>275598721332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skn.degreeQuiz</string>
	<key>PROJECT_ID</key>
	<string>degree-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>degree-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275598721332:ios:6deec1d208ab4443e2a561</string>
	<key>DATABASE_URL</key>
	<string>https://degree-quiz-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>